[General]
loglevel = notify
skip-proxy = 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12, 127.0.0.1, localhost, *.local
test-timeout = 5

[Proxy]
example = ss, 110.110.110.68, 10000, encrypt-method=aes-256-cfb, password=x

[Rule]
FINAL,DIRECT
